.feed {
	height: 350px;
	line-height: 1.4;
	padding: 10px;
	overflow: hidden;
	-webkit-border-radius: 1px;
	-moz-border-radius: 1px;
	border-radius: 6px;
	-webkit-box-shadow: 0 1px 2px rgba(0,0,0,.15);
	-moz-box-shadow: 0 1px 2px rgba(0,0,0,.15);
	box-shadow: 0 1px 2px rgba(0,0,0,.15);
	border: 0 none;
	margin: 10px 8px;
	border-width: 1px;
	border-style: solid;
	border-color: #ddd #d5d5d5 #d5d5d5;
	background-color: #fbfbfb;
	background: #4ecdc4;
}

.feed .bd {
	height: 92%;
	overflow: hidden;
	padding:10px; 
}

.feed .bd p {
	font-size: 1.3em;
	color: #fff;
}

.feed .ft .btn{
	color: #fff;
	-webkit-box-shadow: inset 0 -2px 0 #5cc836;
	box-shadow: inset 0 -2px 0 #5cc836;
	background: #5cc836;
	border-radius: 6px;
}
.feed .ft .action-left {
	width: 25%;
	float: left;
	text-align: left;
}
.feed .ft .action-right {
	width: 75%;
	float: right;
	text-align: right;
}

